.game-board {
   margin: 25px;
   width: 500px;
   height: 500px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 25px;

   .game-cell {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      font-weight: bold;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      &.x-turn {
         color: rgb(0, 136, 255);
         box-shadow: rgba(0, 68, 254, 0.757) 0px 3px 8px;
      }

      &.o-turn {
         color: red;
         box-shadow: rgba(255, 0, 34, 0.626) 0px 3px 8px;
      }
   }
}

.btn-reset {
   margin: 0 25px;
}

.game {
   p {
      margin: 0 25px;
   }
}